.sobre-festival {
    padding: $separacion 0;
    @include tablet {
        @include grid(2, $separacion);
        column-gap: $separacion;
    }
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 3rem;
    }
    .fecha {
        color: $rosa;
        font-weight: $bold;
    }
    .texto {
        line-height: 1.5;
    }
}